<div class="right">
    <div class="alert">
        <p>Note:  Please complete this transaction in 15 minutes</p>
    </div>
    <!--End Alert Part-->

    <div class="tripDetails" id="tripDetails" ng-init="onwardOpen=true;returnOpen=false;">
        <h3>Your Booking</h3>
        <div ng-if="CheckoutDetail.order_type==1">
            <div style="padding-bottom:10px;">
            <p style="padding-bottom:10px;" ng-click="onwardOpen=(onwardOpen==true?false:true)">
                <a href class="blueLink">Onward Trip Details</a>
                <span class="test"></span>
            </p>
            <div id="onwardTripDetails" ng-show="onwardOpen">
                <div class="tripBox">
                    <p>{{::CheckoutDetail.extra.onward.journey.fromCity}}</p>
                    <p>11:45 PM - {{::CheckoutDetail.journeyDate}}</p>
                </div>
                <div class="tripSep"><img src="images/direction.png" alt="To"></div>
                <div class="tripBox">
                    <p>{{::CheckoutDetail.extra.onward.journey.toCity}}</p>
                    <p>11:45 PM - {{::CheckoutDetail.journeyDate2}}</p>
                </div>
                <div class="clearfix"></div>
                <div class="tripBox">
                    <p>{{::CheckoutDetail.extra.onward.route.CompanyName}}</p>
                    <p><span>{{::CheckoutDetail.extra.onward.route.BusTypeName}}</span></p>
                </div>
                <div class="tripSep"></div>
                <div class="tripBox">
                    <p>
                        <div>
                            <span ng-repeat="seat in CheckoutDetail.extra.onward.seats">{{::seat.seatNo}},</span>
                        </div>
                    </p>
                    <p><span><a href="#" class="blueLink">Pickup Details</a></span></p>
                </div>
            </div>
        </div>

            <div ng-if="CheckoutDetail.pickup2!=null" class="onwardDetails">
            <p style="padding-bottom:10px;" ng-click="returnOpen=(returnOpen==true?false:true)"><a href class="blueLink">Return Trip Details</a></p>
            <div id="returnTripDetails" ng-show="returnOpen">
                <div class="tripBox">
                    <p>{{::CheckoutDetail.extra.return.journey.fromCity}}</p>
                    <p>11:45 PM - 22 Feb, 2016</p>
                </div>
                <div class="tripSep"><img src="images/direction.png" alt="To"></div>
                <div class="tripBox">
                    <p>{{::CheckoutDetail.extra.return.journey.toCity}}</p>
                    <p>11:45 PM - 22 Feb, 2016</p>
                </div>
                <div class="clearfix"></div>
                <div class="tripBox">
                    <p>{{::CheckoutDetail.extra.return.route.CompanyName}}</p>
                    <p><span>{{::CheckoutDetail.extra.return.route.BusTypeName}}</span></p>
                </div>
                <div class="tripSep"></div>
                <div class="tripBox">
                    <p>
                        <div>
                            <span ng-repeat="seat in CheckoutDetail.extra.return.seats">{{::seat.seatNo}},</span>
                        </div>
                    </p>
                    <p><span><a href="#" class="blueLink">Pickup Details</a></span></p>
                </div>
            </div>
        </div>
        </div>
        <div ng-if="CheckoutDetail.order_type==2">
            <div style="padding-bottom:10px;">
            <p style="padding-bottom:10px;">
                <a href class="blueLink">Hotel Detail</a>
                <span class="test"></span>
            </p>
            <div id="onwardTripDetails">
                <div class="tripBox">
                   
                    <p>{{::CheckoutDetail.hotelDetails.checkin_date}}</p>
                </div>
                <div class="tripSep" style="padding:0px;"><img src="images/direction.png" alt="To"></div>
                <div class="tripBox">
                    
                    <p>{{::CheckoutDetail.hotelDetails.checkout_date}}</p>
                </div>
                <div class="clearfix"></div>
                <div class="tripBox">
                    
                    <p>Guest: {{::CheckoutDetail.hotelDetails.adults}}</p>
                </div>
                <div class="tripSep"></div>
                <div class="tripBox">
                     
                    <p>Rooms: {{::CheckoutDetail.hotelDetails.rooms}}</p>
                </div>
            </div>
        </div>
        </div>
    </div>

    <!--Return trip details-->
    <!--End Trip Summary-->

    <div class="clearfix"></div>
    <div class="fareDetails">
        <div ng-if="CheckoutDetail.order_type==1">
        <h3>Fare Details</h3>
        <div class="fareBlock1">Onward Trip Fare</div>
        <div class="fareBlock2">Rs. {{::CheckoutDetail.fareDetails.totalFare}}</div>
        <div class="fareBlock1">Return Trip Fare</div>
        <div class="fareBlock2">Rs. {{::CheckoutDetail.fareDetails.totalFare2}}</div>
        <div class="fareBlock1">Service Tax  ( <a href="#">?</a> )</div>
        <div class="fareBlock2">Rs. {{::CheckoutDetail.fareDetails.serviceTax}}</div>
        <div ng-if="::showReliabilty">
            <div class="fareBlock1">
                <div class="checkbox_wrapper">
                    <input type="checkbox" ng-model="isCheckedReliability" ng-checked="CheckoutDetail.order_type==1" ng-change="changeReliabilityOption(isCheckedReliability);"/>
                    <label></label>
                </div>
                I Want Reliability Service ( <a href>?</a> )
            </div>
            <div class="fareBlock2">Rs. {{::CheckoutDetail.fareDetails.insuranceFees}}</div>
        </div>
        <div class="fareBlock1">Other Charges</div>
        <div class="fareBlock2">Rs. {{::CheckoutDetail.fareDetails.otherCharges}}</div>
        <div class="fareBlock1">Discount</div>
        <div class="fareBlock2">Rs. {{::discountAmount}}</div>
     </div>
        <div class="fareTotal">
            <div class="fareBlock1">
                <h4>Total Fare</h4>
            </div>
            <div class="fareBlock2">
                <h4>Rs.{{totalJourneyFare+reliabiltyPrice}}</h4>
            </div>
        </div>
    </div>
    <!--End Fare Details-->

</div>