 <user-popup settings="popup" ng-click="popUpVisibility(false)">
    <div class="inner-popup">
        <span class='close' ng-click="popUpVisibility(false)">&#10005;</span>
        <div ng-show="login.isOpen">
            <strong>Sign In</strong>
            <div class="ty-auth-wrapper auth-wrapper">
                <form name="signin" class="ty-form signin-form">
                    <label class="ty-input-block">
                        <span class="ty-user-label">Email</span>
                        <input class="ty-user-input" type="email" placeholder="Enter your email" required="true" ng-model="loginDetail.email"/>
                    </label>
                    <label class="ty-input-block">
                        <span class="ty-user-label">Password</span>
                        <input class="ty-user-input" type="password" placeholder="Enter your password" required="true" ng-model="loginDetail.password" />
                    </label>
                    <div class="ty-alignright-block">
                        <button class="ty-alignright ty-user-button">Sign In</button>
                    </div>
                    <div class="ty-alignright-block forgot-pswd-block">
                        <a class="ty-alignright ty-forgot-password" ng-click="signInShow($event, false)">Forgot your password?</a>
                    </div>
                </form>
                <div class="social-logins">
                    <user-fb>Sign In with Facebook</user-fb>
                    <user-gmail>Sign In with Gmail</user-gmail>
                </div>
            </div>
        </div>
        <div ng-show="!login.isOpen">
            <strong>Forgot Password</strong>
            <div class="ty-note note-message">Please enter your email address below. We'll send you an email with a link to reset password.</div>
            <div class="ty-auth-wrapper auth-wrapper">
                <form name="signin" class="ty-form forgotpwd-form">
                    <label class="ty-input-block">
                        <span class="ty-user-label">Email</span>
                        <input class="ty-user-input" type="email" placeholder="Enter your email" required="true" />
                    </label>
                    <div class="ty-alignright-block">
                        <button class="ty-alignright ty-user-button">Sign In</button>
                    </div>
                </form>
            </div>
            <span class="ty-back forgotpwd-back" ng-click="signInShow($event, true)">&lt;&lt; Back</span>
        </div>
    </div>
</user-popup>

<article>
    <div class="center">
        <div class="wrapper">
            <div class="left">
                <div class="payment">
                   <ty-your-details ></ty-your-details>

                   <ty-payment-method payment="PaymentOptions" tabinfo="tabInfo" token="token" customerdetail="customerDetail" orderid="CheckoutDetail.id"></ty-payment-method>     

                    </div>
            </div>
            <!--End Left Part-->

            <ty-bus-summary summary="CheckoutDetail.order_summary.bus_booking" discount="customerDetail.discount" ng-if="CheckoutDetail.type==1"></ty-bus-summary>
            <!--End Right Part-->
        </div>

        <!--End Footer-->
        
    </div>
</article>
