<article>
    <div class="center">
        <div class="wrapper">
            <div class="left">
                <div class="payment">
                   <ty-your-details ></ty-your-details>

                   <ty-payment-method payment="PaymentOptions" tabinfo="tabInfo" token="token" customerdetail="customerDetail"></ty-payment-method>     

                    </div>
            </div>
            <!--End Left Part-->

            <ty-bus-summary summary="CheckoutDetail.order_summary.bus_booking" discount="customerDetail.discount" ng-if="CheckoutDetail.type==1"></ty-bus-summary>
            <!--End Right Part-->
        </div>

        <!--End Footer-->
        
    </div>
</article>
