<article>
    <div class="center">
        <div class="wrapper">
            <div class="left">
                <div class="payment">
                   <ty-your-details ></ty-your-details>

                   <ty-payment-method checkout="checkoutDetailsData" tabinfo="tabInfo" customerdetail="customerDetail" isCheckReliability="isCheckedReliability"></ty-payment-method>     

                    </div>
            </div>
            <!--End Left Part-->

            <ty-booking-summary></ty-booking-summary>
            <!--End Right Part-->
        </div>

        <!--End Footer-->
        
    </div>
</article>
