  <div class="right">
        <div class="alert">
          <p>Note:  Please complete this transaction in 15 minutes</p>
        </div>
        <!--End Alert Part-->
        
        <div class="tripDetails">
          <h3>Your Booking</h3>
          
          <div class="summary-title">
          <h4>OYO Rooms Koramangla 4th Block 10th Main</h4>
          <img src="images/pin.png" alt="Location">
          <p>4th block, Near Sony Signal, Bangalore</p>
          </div>
          
          <div class="block01">
          <p>Check-in</p>
          <h4>Mar 30</h4>
          <p>Wed, 12 pm</p>
          </div>
          
          <div class="block01" style="text-align:center; padding-top:9px;">
          <img src="images/duration_icon.png" alt="Duration">
          <p>2 nights</p>
          </div>
          
          <div class="block01">
          <p>Check-out</p>
          <h4>Apr 05</h4>
          <p>Sat, 12 pm</p>
          </div>
          
          <div class="block01">
          <p>Room 1</p>
          <h4>2 Adults</h4>
          </div>
          
          <div class="block01">
          <p>Room 2</p>
          <h4>2 Adults</h4>
          </div>
          
          <div class="summary_policy">
          <p><a href="#" class="blueLink">Booking & Cancellation Policy</a></p>
          </div>
          
          <div class="summary_includes">
          <p>Includes</p>
          <ul>
          <li>Breakfast</li>
          <li>Free Wi-Fi </li>
          <li>Complimentary stay for children under , without extra bed </li>
          <li>All Applicable Taxes </li>
          <li>Complementary access to swimming pool</li>
          <li>Daily news paper, one mineral water complementary per day</li>
          <li>Wi fi on complimentary</li>
          
          </ul>
          </div>
          
          
          
        </div>
        <!--End Trip Summary-->
        
        <div class="clearfix"></div>
        <div class="fareDetails">
          <h3>Fare Details</h3>
          <div class="fareBlock1">Onward Trip Fare (475x2)</div>
          <div class="fareBlock2">Rs. 950</div>
          <div class="fareBlock1">Return Trip Fare (600x2)</div>
          <div class="fareBlock2">Rs.1200</div>
          <div class="fareBlock1">Service Tax  ( <a href="#">?</a> )</div>
          <div class="fareBlock2">Rs. 950</div>
          <div class="fareBlock1">
            <div class="checkbox_wrapper">
              <input type="checkbox" checked />
              <label></label>
            </div>
            I Want Reliability Service ( <a href="#">?</a> )</div>
          <div class="fareBlock2">Rs. 950</div>
          <div class="fareBlock1">Discunt</div>
          <div class="fareBlock2">Rs. 950</div>
          <div class="fareTotal">
            <div class="fareBlock1">
              <h4>Total Fare</h4>
            </div>
            <div class="fareBlock2">
              <h4>Rs.2220.00</h4>
            </div>
          </div>
        </div>
        <!--End Fare Details--> 
        
      </div>