<div class="paymentMethod" style="margin-top:100px; opacity: 0.2;">
    <div class="paymentTitle">
        <span>2</span>
        <h4>Payment Method</h4>
    </div><!--End Title-->

    <div class="tabSection">
        
        <ul>
            <li ng-repeat="option in payment.methods" id="{{::option.code}}" ng-class="{current:isSelected(option.code)}" ng-click="selectedOption(option.code);" class="{{::option.code}}">{{::option.label}}
                <div class="walletStrip" ng-if="::option.code==CONSTANT.WALLET">Offers Inside</div>
                <span ng-if="::option.code==CONSTANT.OTHER_OPTION">ATM Card / Paypal</span>
            </li>
        </ul>
    </div>
    <!--End Tab Section-->

    <div class="clearfix"></div>
    <div class="tabinfo-container" ng-show="tabinfo">
        <input type="hidden" name="pay_method" id="method" value="{{method}}"/>
        <input type="hidden" name="card_brand" id="brand" value="{{brand}}"/>
        <input type="hidden" name="pay_provider" id="provider" value="{{provider}}"/>
        <ng-form name="tabForm">

            <div ng-show="isSelected(CONSTANT.CREDIT_CARD)">
                <div class="debitTop">
                    <div class="securedLeft"> <img src="images/secured.png" alt="Secured"><!--<ty-show-img-on-load imgsrc="images/secured.png" class="ty-smooth-load"></ty-show-img-on-load>--> </div>
                    <div class="securedInfo">
                        <p>Secured Debit / Credit Card Payment</p>
                        <p><span>This is a secure 128-bit SSL encrypted payment</span></p>
                    </div>
                    <div class="entrust"><img src="images/entrust.png" alt="Secured Payment"></div>
                </div>
                <!--End Trust Part-->

                <div class="debitInfo" ng-show="!showSavedCard">
                    <input class="cardno" id="cardno" placeholder="Credit / Debit Card No" type="Credit / Debit Card No" name="cardno" ng-model="ccinfo.securityCode" ng-required="isSelected(CONSTANT.CREDIT_CARD)&&!showSavedCard" data-ng-pattern="/^[0-9]+$/" data-credit-card-type ccinfotype='ccinfo.type' ng-style="{'background':'url(/images/'+Card[ccinfo.type]+') no-repeat center right'}">
                   <!-- <span class="cardType"><img src="images/{{ccinfo.type}}.png"/></span>-->
                   <!-- <div ng-messages="tabForm.cardno.$error" ng-if="tabForm.cardno.$dirty">
                        <p ng-message="required" class="errMsg">This is required</p>
                        <p ng-show="tabForm.cardno.$error.minlength">Credit card must be 15-19 digits</p>
                    </div>-->
                    <ul ng-show="tabForm.submitAttempt && !tabForm.$valid">
                        <li ng-show="tabForm.cardno.$error.minlength" class="errMsg">Credit card must be 15-19 digits</li>
                        <li ng-show="tabForm.cardno.$error.pattern" class="errMsg">Credit card must consist of only numbers</li>
                        <li ng-show="tabForm.cardno.$error.invalid" class="errMsg">Credit card must be a valid Amex, Visa, Discover, or Master Card</li>
                        <li ng-show="tabForm.cardno.$error.required" class="errMsg">Credit card required</li>
                    </ul>
                    <input class="debitUser" placeholder="Credit / Debit Card Name" type="5s6s5s5s5" ng-required="isSelected(CONSTANT.CREDIT_CARD)&&!showSavedCard" name="debitUser" ng-model="ccinfo.name">
                    <ul ng-show="tabForm.submitAttempt && !tabForm.$valid">
                        <li ng-show="tabForm.debitUser.$error.required" class="errMsg">Name required</li>
                    </ul>
                    
                    <input class="debitMonth" id="debitMonth" placeholder="MM" type="5s6s5s5s5" ng-required="isSelected(CONSTANT.CREDIT_CARD)&&!showSavedCard" name="debitMonth" ng-model="ccinfo.month"  data-card-expiration ccinfomonth="ccinfo.month" ccinfoyear="ccinfo.year" ng-pattern="/^[0-1]+[0-9]+$/" ng-maxlength="2"  ng-minlength="2" ng-keypress="checkKeyPressed($event)">
                    <div class="debitsep"><img src="images/debt-sep.png" alt="Sep"></div>
                    <input class="debitMonth" id="debitYear" placeholder="YY" type="5s6s5s5s5" name="debitYear" ng-required="isSelected(CONSTANT.CREDIT_CARD)&&!showSavedCard"  ng-minlength="4" ng-maxlength="4"  ng-model="ccinfo.year" ng-keypress="checkKeyPressed($event)">
                    <input class="debitCvv" id="debitCVV" placeholder="CVV" type="5s6s5s5s5" ng-required="isSelected(CONSTANT.CREDIT_CARD)&&!showSavedCard" name="debitCvv" ng-model="ccinfo.cvv" ng-keypress="checkKeyPressed($event)" data-card-cvv ccinfotype="ccinfo.type" watchrequired="false">
                    <ul ng-show="tabForm.submitAttempt && !tabForm.$valid" style="float:right;width:35%;color:red;">
                        <li ng-show="tabForm.debitCvv.$error.required"  >CVV required</li>
                        <li ng-show="tabForm.debitCvv.$error.invalid"  >Invalid CVV</li>
                    </ul>
                    <ul ng-show="tabForm.submitAttempt && !tabForm.$valid" style="width:35%;float:left;color:red;">
                        <li ng-show="tabForm.debitYear.$error.required">Expiration year required</li>
                        <li ng-show="tabForm.debitMonth.$error.minlength">Month in 2 digit</li>
                        <li ng-show="tabForm.debitYear.$error.minlength">Year in 4 digit</li>
                        <li ng-show="tabForm.debitMonth.$error.maxlength">Month in 2 digit</li>
                        <li ng-show="tabForm.debitYear.$error.maxlength">Year in 4 digit</li>
                        <li ng-show="tabForm.debitMonth.$error.invalid">Provided expiration date is invalid</li>
                    </ul>
                   
                    <div class="savethiscard">
                        <div class="checkbox_wrapper">
                            <input type="checkbox" checked ng-model="isCheckedSaveCard" />
                            <label></label>
                        </div>
                        <p>Save this Card for Future Transation</p>
                    </div>

                </div>
                <!--End Debit / Credit Card Info-->
                <!--saved card-->
                <div ng-show="showSavedCard">
                    <div class="cardTitle">
                        <div class="cardTitle-left">
                            <h4>Your Saved Card</h4>
                        </div>
                        <div class="cardTitle-right"  ng-click="tabForm.submitAttempt=false;addMoreCard();">
                            <img src="images/add-card.png" alt="Add More Card">
                            <p><a href class="blackLink">Add More</a></p>
                        </div>
                    </div>
                    <div class="debitInfo" ng-repeat="savedCard in SavedCards track by $index">
                        <div class="savedcard-section">
                            <div class="radio_wrapper" style="margin-top:23px;">
                                <input type="radio" name="selectedCard" ng-checked="selectedCard.card_token==savedCard.card_token" ng-click="selectCard(savedCard);"/>
                                <label></label>
                            </div>
                            <input class="saved-cardno" type="Credit / Debit Card No" value="{{::savedCard.card_number}}" ng-style="{'background':'url('+cardUrl+') no-repeat center right'}" readonly>
                            <div class="remove-card" ng-click="removeSavedCard(savedCard)">
                                <img src="images/payment-delete.png" alt="Remove this Card">
                                <p><a href class="blackLink">Remove this Card</a></p>
                            </div>
                            <input class="debitCvv" placeholder="CVV" type="5s6s5s5s5"  ng-model="selectedCard.cvv[savedCard.card_token]" ng-required="isSelected(CONSTANT.CREDIT_CARD)&& showSavedCard==true && selectedCard.card_token==savedCard.card_token"/>

                        </div>
                       
                    </div>
                </div>
            </div>



            <div ng-show="isSelected(CONSTANT.NETBANK)">
                <div class="cardTitle">
                    <div class="cardTitle-left">
                        <h4>Choose from Popular Banks</h4>
                    </div>
                </div>
                <div class="netbank-wrapper">

                    <div class="banklogo-wrapper">
                        <ul>
                            <li ng-repeat="(nbProvider,nbName) in ::payment.options.nb.popular" ng-click="selectBank_popular(nbProvider);" ng-class="{option_select:isNetBankOptionSelected(nbProvider)}">
                                <a href><img ng-src="images/{{::NetBank[nbProvider]}}" alt="{{::nbName}}"></a>
                            </li>
                            
                        </ul>
                    </div>

                    <div class="or-wrapper">
                        <p>or</p>
                    </div>
                    <select id="nbBank" name="nbBank" class="selectBank" ng-model="data.repeatSelect" ng-options="nbProvider as nbName for (nbProvider,nbName) in ::payment.options.nb.all" ng-change="selectBank_all(data.repeatSelect);">
                        
                        <option></option>

                    </select>

                </div>
            </div>
            <div ng-show="isSelected(CONSTANT.WALLET)">
                <div class="wallet-wrapper" ng-show="!walletPopup">
                    <ul>
                        <li ng-repeat="(walProvider,walName) in ::payment.options.wallet.previlaged" ng-class="{option_select:isWalletOptionSelected(walProvider)}" ng-click="selectWallet(walProvider)" class="wallet-privledge">
                            <a href>
                                <img src="images/{{::Wallet[walProvider]}}" alt="{{::walName}}">
                                <p>{{::walletMsg[walProvider]}}</p>
                                <p><span>{{::walletSubtitle[walProvider]}}</span></p>
                            </a>
                        </li>
                        
                        <li ng-repeat="(walProvider,walName) in ::payment.options.wallet.all" ng-if="::checkIfSelectedInData(walProvider,payment.options.wallet.previlaged)!=1" ng-class="{option_select:isWalletOptionSelected(walProvider)}" ng-click="selectWallet(walProvider)">
                            <a href><img ng-src="images/{{::Wallet[walProvider]}}" alt="{{::walName}}"></a>
                            <div class="wallet-strip">{{::walletMsg[walProvider]}}</div>
                        </li>

                    </ul>
                </div>
                <ty-wallet-offers walletmsg="walletMsg[provider]" walletsubtitle="walletSubtitle[provider]" wallettnc="walletTnc[provider]" walletname="payment.options.wallet.all[provider]" walletimg="Wallet[provider]" show="walletPopup"></ty-wallet-offers>
                
            </div>
            <div ng-show="isSelected(CONSTANT.OTHER_OPTION)">
                <div class="otherpay-wrapper">
                    <div class="banklogo-wrapper">
                        <ul>
                            <li ng-repeat="(opProvider,opName) in ::payment.options.op.all" ng-if="::checkIfSelectedInData(opProvider,payment.options.op.others)!=1" ng-class="{option_select:isOtherOptionSelected(opProvider)}" ng-click="selectOtherOption(opProvider)">
                                <a href><img src="images/{{::OtherOption[opProvider]}}" alt="{{::opProvider}}"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="or-wrapper">
                        <p>or</p>
                    </div>
                    <div class="paypal-wrapper">
                        <ul>
                            <!--<li>
                                <a href><img src="images/mobikwik-logo.jpg" alt="Ola Money Wallet Offer"></a>
                                <p>Total charges including forex and transaction fees: {{paypalAmount}}</p>
                            </li>-->
                            <li ng-repeat="(opProvider,opName) in ::payment.options.op.others" ng-class="{option_select:isOtherOptionSelected(opProvider)}" ng-click="selectOtherOption(opProvider)">
                                <a href><img src="images/{{::OtherOption[opProvider]}}" alt="{{::opProvider}}"></a>
                                <p>Total charges including forex and transaction fees: {{paypalAmount}}</p>
                            </li>
                        </ul>
                    </div>
                </div>
                
            </div>
            <div class="action-wrapper">
                <button type="submit" class="action" ng-click="tabForm.submitAttempt=true;confirmBooking()" >Confirm My Booking</button>
            </div>
            <div class="termsconditions">
                <div class="termsLeft">I Agree to <a href class="blackLink">Terms & Conditions</a></div>
                <div class="termsRight" style="display:none;">
                    <img src="images/secured-small.png" alt="Secured Payment">
                    <p>
                        Secure 128-bit SSL <br>
                        encrypted payment.
                    </p>
                    <a href><img src="images/entrust-logo-small.png" alt="Secured Payment" class="btmLogo"></a>
                </div>
            </div>
            <!--End Terms and Condition-->
    </ng-form>
</div>
    <div id="pgSubmission" ng-bind-html="pgSubmission"></div>   
    
    <div class='juspay_payment_inline' style="display:none">
<form class="juspay_inline_form" id="juspay_payment_form">
    <input type="hidden" ng-model="merchant_id" value="merchant_id_inline" >
    <input type="hidden" ng-model="order_id" value="orderid">
    <input type="text" ng-model="card_number" value="ccinfo.securityCode">
    <input type="text" ng-model="name_on_card" value="ccinfo.name">
    <input type="text" ng-model="card_exp_month" value="ccinfo.month">
    <input type="text" ng-model="card_exp_year" value="ccinfo.year">
    <input type="text" ng-model="security_code" value="ccinfo.cvv">
    <input type="checkbox"  ng-checked="juspay_locker_save">
    <input type="hidden" ng-model="redirect" value="true">
</form>
</div>

<div class='juspay_payment_express' style="">
<form class="juspay_express_form" id="juspay_payment_form_express">
    <input type="hidden" ng-model="merchant_id_express" value="abc">
    <input type="hidden" ng-model="order_id_express" value="{{orderid}}">
    <input type="hidden" ng-model="card_token_express" value="{{selectedCard.card_token}}">
    <input type="text" ng-model="security_code_express" value="{{selectedCard.cvv[selectedCard.card_token]}}">
    <input type="hidden" ng-model="redirect" value="true">
</form>
</div>
</div>

