<div class="passengerDetails">
    <div ng-show="firstSection" class="firstSection">
        <ng-form name="detailForm">
            <div class="yourdetail-wrapper">
                <div class="paymentTitle">
                    <span>1</span>
                    <h4>Your Details</h4>
                </div>
                <div class="yourdetail-left">
                    <input class="detials" placeholder="Email Address" type="email" name="email" ng-model="customerDetail.email" ng-required="true" ng-keypress="checkKeyPressed($event)" id="emailInput">
                     <ul ng-show="detailForm.submitAttempt && !detailForm.$valid">
                        <li ng-show="detailForm.email.$error.required" class="errMsg">Email required</li>
                    </ul>
                    <input class="detials" placeholder="Apply coupon code here" type="5s6s5s5s5" name="coupon" id="couponInput" required ng-model="customerDetail.coupon" ng-keypress="checkKeyPressed($event)">
                    <label class="coupon-msg" ng-style="customerDetail.discount!=0?{'color':'green'}:{'color':'red'}">{{couponMsg}}</label>
                </div>
                <div class="yourdetail-right">
                    <input class="detials" placeholder="Mobile No" type="Credit / Debit Card No" name="mobile" ng-model="customerDetail.mobile" ng-required="true" id="phoneInput" ng-keypress="checkKeyPressed($event)" ng-minlength="10">
                    <ul ng-show="detailForm.submitAttempt && !detailForm.$valid">
                        <li ng-show="detailForm.mobile.$error.required" class="errMsg">Mobile no required</li>
                        <li ng-show="detailForm.mobile.$error.minlength" class="errMsg">should be 10 digit</li>
                    </ul>
                    <button type="submit" class="action01" ng-click="detailForm.submitAttempt=true;confirmBooking()" >Confirm My Booking</button>
                </div>
            </div>
        </form>
    </div>
    <div ng-show="!firstSection">
        <div class="yourInfo">
            <img src="images/success-tick.png" alt="Succes Tick">
            <h3>Your Details</h3>
            <div class="block">
                <p>Email Address</p>
                <h4>{{customerDetail.email}}</h4>
            </div>
            <div class="block">
                <p>Phone No</p>
                <h4>{{customerDetail.mobile}}</h4>
            </div>
        </div>
        <!--End Your Info-->

        
        <div class="edit" ng-click="edit();"><a href class="blueLink">Edit</a></div>
    </div>
</div>